@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #e37383;
}

.loader-container {
  transform-origin: top;
}

.scroll-up .my-header {
  background-color: #710d1c;
}

.scroll-down .my-header {
  transform: translate3d(0, -100%, 0);
}
