/* Sidebar styles */
.sidebar {
    width: 18%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: sticky;
    height: 100vh; /* Full height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
}

.sidebar h1 {
    margin-bottom: 15px;
    font-size: 35px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.sidebar li {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(207, 205, 205);
}

.sidebar li img {
    margin-right: 10px;
    height: 40px;
}

.sidebar li a {
    text-decoration: none;
    color: inherit;
}

/* Main content styles */
.main-content {
    margin-left: 0%;
    padding: 20px;
    width: calc(100% - 18%); /* Adjust width to account for the sidebar */
    margin-top: 4%;
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.card {
    background-color: white;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.09);
}

.card img {
    width: 100px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.addbutton {
    background-color: #b0dcd1;
    color: #000000;
    border: none;
    padding: 5px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.addbutton:active {
    background-color: white;
    color: #000000;
    border: 1px solid black;
}

.goToCartButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #b0dcd1;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}

.goToCartButton:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }
}
